
body{
    background: #35cd9f;
}

.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}

.box{
    box-sizing: border-box;
    text-align: center;
    padding: 30px 10px;
    width: 300px;
    background: #162029;
}

.box > p{
    color: #ffffff;
}

.box > h3{
    text-transform: uppercase;
    color: #35cd9f;
}

.fa-quote-right{
    font-size: 40px;
    color: #35cd9f;
}
img{
    width: auto;
    height: 100%;
    margin: 0 -25px;
}

.photo{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    overflow: hidden;
}

.text{
    text-transform: uppercase;
    font-size: 30px;
}

.text > span {
    font-size: 50px;
}

.box2{
    text-align: center;
}

